.ddsmoothmenu{
    font: 16px Tahoma;
    width: 100%;
}
.ddsmoothmenu *{
    font-size: 16px Tahoma !important;
    list-style:none;
    text-align:left;
}
.ddsmoothmenu ul{
    z-index:100;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
    position: relative;
    display: inline;
    float: left;
    line-height:25px;
    color: #ffffff;
    background:url('../img/menu_line.gif') no-repeat right;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
    display: block;
    padding: 7px 20px;
    text-decoration: none;
    line-height: 35px;
    font-size:14px;
    font-weight:bold;
    color:#FFFFFF;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
    color: #fff;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
    background:url('../img/menu_bg_active.gif') repeat-x;
}
.ddsmoothmenu ul li a:hover{
    background:url('../img/menu_bg_active.gif') repeat-x;
}
.ddsmoothmenu ul li ul li a:hover{
    height:auto;
}
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
    position: absolute;
    left: 0;
    display: none; /*collapse all sub menus to begin with*/
    visibility: hidden;
    margin-top:0px;
    width: 183px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
    display: list-item;
    float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
    margin-top:0px;
    margin-left:2px;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
    font: 12px Tahoma;
    width: 160px; /*width of sub menus*/
    padding: 5px;
    padding-left: 20px;
    margin: 0;
    border-top:1px solid #fff;
    line-height: 15px;/*25px; 22 12 2014*/
    background:url('../img/menu_ul_active.gif') repeat-x;
}
.ddsmoothmenu ul li ul li a:hover,.ddsmoothmenu ul li ul li a.selected{
    background:url('../img/menu_ul.gif') repeat-x;
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
    position: absolute;
    top: 20px;
    right: 7px;
}

.rightarrowclass{
    position: absolute;
    top: 15px;
    right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
    opacity: 0.8;
}

.ddsmoothmenu ul li.active > a.top_menu_item{
    background:url('../img/menu_current.gif') no-repeat top center;
}
